# Build Output
/dist/
/dist_test/

# Test Output
/test_output/

# Node.js
.npm
.node_repl_history
node_modules

# Typings
/typings/

# Logs
logs
*.log
npm-debug.log*

# IntelliJ IDEA
/.idea/workspace.xml
/.idea/dictionaries

# macOS
.DS_Store
